.anchor {
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  &:hover {
    color: #6f6f6f;
    cursor: pointer;

    &:before,
    &:after {
      width: 50%;
      opacity: 1;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0px;
    height: 1px;
    margin: 2px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.65s;
    opacity: 0;
    background-color: #252525;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}
